/* line 11, ../scss/mapas.scss */
.elemento {
  color: 3px;
}

/* line 23, ../scss/mapas.scss */
.clase3-1 {
  color: #00F;
}

/* line 23, ../scss/mapas.scss */
.clase3-2 {
  color: #00F;
}

/* line 23, ../scss/mapas.scss */
.clase3-3 {
  color: #00F;
}

/* line 29, ../scss/mapas.scss */
.clase3-1b {
  color: #00F;
}

/* line 29, ../scss/mapas.scss */
.clase3-2b {
  color: #00F;
}

/* line 29, ../scss/mapas.scss */
.clase3-3b {
  color: #00F;
}

/* line 35, ../scss/mapas.scss */
p {
  color: #00F;
}

/* line 35, ../scss/mapas.scss */
span {
  color: #00F;
}

/* line 35, ../scss/mapas.scss */
div {
  color: #00F;
}
