/* line 6, ../scss/numeros.scss */
.clase1 {
  width: 700px;
}

/* line 10, ../scss/numeros.scss */
.clase2 {
  font-size: 2rem;
}

/* line 14, ../scss/numeros.scss */
.clase2 {
  color: #8b3cdf;
}

/* line 18, ../scss/numeros.scss */
h1 {
  font-size: 3rem;
}

/* line 22, ../scss/numeros.scss */
h2 {
  font-size: 2rem;
}
