$minWidth: 400;
$maxWidth: 700;
$numeroNegativo: -2;
$numeroDecimal: 2.5;

.clase1 {
  width: #{max($minWidth, $maxWidth)}px ;
}

.clase2 {
  font-size: #{abs($numeroNegativo)}rem;
}

.clase2 {
  color: rgb(random(255), random(255), random(255));
}

h1 {
  font-size: #{ceil($numeroDecimal)}rem;
}

h2 {
  font-size: #{floor($numeroDecimal)}rem;
}

